@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0;}
body {
	background-attachment: fixed;
	background-image: url("construcao.jpg");
	background-position: 0 0;
	background-repeat: no-repeat no-repeat;
	background-size: cover;
	float: left;
	width: 100%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
p{ font-size: 14px; color: #4d7250;}
h3{ color: #685674;}
a{color: #4d7250;}
a:hover{ color: #685674}

#total {
	width:100%;
	margin:0;
	padding: 0;
}
#content {
	width: 980px;
	height: auto;
	margin: 0 auto;
}

#header{ width:100%; height: 350px; margin:0 0 50px 0; padding:0; }

#infos {
	width:300px;
	height: 110px;
	margin: 0 auto;
	position:relative;
	padding: 20px;
	background-color:#fff;
	opacity: 0.55;
	-webkit-box-shadow: 4px 4px 9px rgba(64, 73, 41, 0.75);
	-moz-box-shadow:    4px 4px 9px rgba(64, 73, 41, 0.75);
	box-shadow:         4px 4px 9px rgba(64, 73, 41, 0.75);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
